<mat-card class="mat-card-wrapper">
  <h2>Create new To-Do</h2>
  <form (ngSubmit)="createTodo()" #todoForm="ngForm" class="form-component">
    <mat-form-field>
      <div>
        <label for="task">Task:</label>
        <input
          matInput
          type="text"
          id="task"
          required
          [(ngModel)]="todo.task"
          name="task"
          #task="ngModel"
        />
        <div *ngIf="task.invalid && (task.dirty || task.touched)">
          <div *ngIf="task.errors?.['required']" class="error">
            Task name is required.
          </div>
        </div>
      </div>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="todoForm.form.invalid"
    >
      Create
    </button>
  </form>
</mat-card>
