<mat-card class="mat-card-wrapper">
  <h2>Edit to-do</h2>
  <form (ngSubmit)="updateTodo()" class="form-component">
    <mat-form-field>
      <mat-label for="task">Task</mat-label>
      <input
        matInput
        type="text"
        id="task"
        [(ngModel)]="todo.task"
        name="task"
        required
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Edit</button>
  </form>
  <button
    class="delete-button"
    mat-raised-button
    color="warn"
    (click)="deleteTodo()"
  >
    Delete
  </button>
</mat-card>
